*
  box-sizing: border-box
body
  +reg
img
  max-width: 100%
.container
  width: 1170px
  margin: auto
@media (min-width: 961px) and (max-width: 1200px) 
  .container
    max-width: 1160px
    width: 95%
@media (max-width: 960px)
  .container
    width: 95%
@media (max-width: 768px)
  .container
    max-width: 720px
    width: 95%
@media (max-width: 567px)
  .container
    max-width: 540px
    width: 100%
.button
  border-radius: 10px
  background-color: $main-color
  border: none
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
.section
  padding: 90px 0
  &-title
    font-size: 24px
    text-align: center
    +bold
  &-subtitle
    font-size: 16px
    display: block
.input
  border: 1px solid $border-input
  padding: 24px 26px 22px 25px
  font-size: 15px
  border-radius: 10px
.arrows
  &__left, &__right
    &:hover
      cursor: pointer